.header__lang-link_language_ru {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 24px;
    line-height: 28px; 
    font-style: normal;
    border-bottom: 2px solid #FFFFFF;
    transition: opacity 0.3s ease-in-out;
}

.header__lang-link_language_ru:hover {
  opacity: 0.2;
}