.photo-grid {
    max-width: 1184px;
    padding-top: 92px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 284px);
    grid-auto-flow: row;
    gap: 16px;
}

@media (min-width: 1024px) and (max-width: 1200px) {
    .photo-grid {
        max-width: 928px;
        grid-template-columns: repeat(auto-fit, 300px);
        gap: 14px;
    }
}

@media (min-width: 768px) and (max-width: 1000px) {
    .photo-grid {
        max-width: 720px;
        padding-top: 88px;
        grid-template-columns: repeat(auto-fit, 352px);
    }
}

@media (min-width: 320px) and (max-width: 760px) {
    .photo-grid {
        max-width: 288px;
        padding-top: 64px;
        grid-template-columns: repeat(auto-fit, 288px);
        gap: 12px;
    }
}