.cover__subtitle {
    margin: 0;
    max-width: 360px;
    max-height: 66px;
    padding-top: 32px;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}

@media (min-width: 320px) and (max-width: 760px) {
    .cover__subtitle {
        max-width: 288px;
        max-height: 48px;
        padding-top: 16px;
        font-size: 14px;
        line-height: 16px;
    }
}