.lead__image {
    padding-top: 64px;
    max-width: 984px;
    max-height: 615px;
}

@media (min-width: 1024px) and (max-width: 1200px) {
    .lead__image {
        max-width: 928px;
        max-height: 580px;
        padding-top: 56px;
    }
}

@media (min-width: 768px) and (max-width: 1000px) {
    .lead__image {
        max-width: 768px;
        max-height: 480px;
        padding-top: 56px;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .lead__image {
        max-width: 320px;
        max-height: 200px;
        padding-top: 40px;
    }
}