.intro {
    margin: 114px auto 0;
    max-width: 984px;
    display: grid;
    grid-template-columns: fit-content(984px);
}

@media screen and (max-width: 1279px) {
    .intro {
        max-width: 928px;
    }
}

@media screen and (max-width: 1023px) {
    .intro {
        max-width: 720px;
        padding-top: 110px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 767px) {
    .intro {
        max-width: 288px;
        padding-top: 86px;
        margin: 0 auto;
    }
}