.lead__caption {
    margin: 0;
    max-width: 159px;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    position: absolute;
    left: 0;
    top: 1047px;
}

@media (min-width: 1024px) and (max-width: 1200px) {
    .lead__caption {
        top: 996px;
    }
}

@media (min-width: 768px) and (max-width: 1000px) {
    .lead__caption {
        top: 896px;
        left: 24px;
    }
}

@media (min-width: 320px) and (max-width: 760px) {
    .lead__caption {
        top: 440px;
        left: 16px;
    }
}